<ion-label style="white-space: normal; width: 100%" *ngIf="entry">
  <ion-row>
    <ion-col>
      <h3 [ngClass]="entry.severity === 1 ? 'tc-text-warning' : entry.severity === 2 ? 'tc-text-danger' : 'tc-text-info'">
        {{ getEntryTitle(entry) }}

        {{ (entry.count ?? 0) > 1 ? '(' + entry.count + 'x)' : '' }}
      </h3>
    </ion-col>
    <ion-col class="ion-text-right">
      {{ entry.time | date: (timeOnly ? 'shortTime' : 'medium') }}
    </ion-col>
  </ion-row>

  <ion-row *ngIf="entry.message">
    <ion-col
      aria-colspan="3"
      style="white-space: pre-wrap;"
    >{{ getEntryMessage(entry) }}</ion-col>
  </ion-row>

  <ion-row *ngIf="(entry.count ?? 0) > 1">
    <ion-col>
      <p>
        (Message appeared {{ entry.count }} times consecutively
        - <a href="#" (click)="onShowAll($event)">show all</a>)
      </p>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="entry.data">
    <ion-col aria-colspan="3">
      <ul>
        <li *ngFor="let measurement of entry.data | keyvalue">
          {{ 'diary.labels.' + measurement.key | translate }}:
          {{ measurement.key === 'newLifecycleStage' ? ('diary.lifecycleStages.' + measurement.value | translate) : measurement.value }}
          {{ getDiaryDataFieldUnit(measurement.key) }}
        </li>
      </ul>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="entry.images?.length">
    <ion-col>
      <a
        *ngFor="let imageId of entry.images; let i = index"
        [href]="imageIdToUrl.get(imageId)"
        target="_blank"
        (click)="onImageClick($event, i)"
      >
        <img [src]="imageIdToUrl.get(imageId) + '&height=100'" alt="Log image" style="height: 100px; margin-right: 5px;"/>
      </a>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="showCategories && entry.categories?.length">
    <ion-col>
      <ion-chip *ngFor="let category of entry.categories">{{ category }}</ion-chip>
    </ion-col>
    <ion-col size="auto">
      <ion-button *ngIf="showEdit && canEdit(entry)" color="primary" (click)="edit.emit(entry)">
        <ion-icon name="pencil-outline"></ion-icon>&nbsp;
        {{ 'diary.actions.edit' | translate }}
      </ion-button>
      <ion-button *ngIf="showDelete" color="danger" (click)="delete.emit(entry)">
        <ion-icon name="trash-outline"></ion-icon>&nbsp;
        {{ 'diary.actions.delete' | translate }}
      </ion-button>
    </ion-col>
  </ion-row>
</ion-label>
