<div class="offline-overlay" *ngIf="device_online == false" (click)="device_online = true">
  <p>{{'devices.device-offline' | translate}}</p>
</div>

<ion-card-content>
  <div id="open-modal" class="button message-icon" [class.warn]="severity == 1" [class.error]="severity == 2" *ngIf="has_logs" (click)="showLogs()">
    <ion-icon name="alert-circle-outline"></ion-icon>
  </div>

  <ion-content class="ion-padding">
    <ion-modal [isOpen]="showDeviceLog" (willDismiss)="showDeviceLog = false">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>{{'devices.device-log' | translate}}</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="showDeviceLog = false">{{'misc.close' | translate}}</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <app-log-entry-viewer [logs]="logs"></app-log-entry-viewer>

        </ion-content>
        <ion-footer>
          <ion-button expand="block" (click)="clearLogs()">{{'devices.clear-log' | translate}}</ion-button>
        </ion-footer>
      </ng-template>
    </ion-modal>
  </ion-content>

  <div style="height: 20px"></div>
  <h1 style="z-index: 1000" (click)="editName()" *ngIf="!editingName">{{device_name}}</h1>
  <input style="display: none; font-size: 24px;" #nameedit type="text" [(ngModel)]="device_name" (blur)="doneEdit()"/>
  <h3>{{'devices.fridge.title' | translate}}</h3>
  <h3 style="text-align:center; margin-top: 4px; margin-bottom: 12px;">
    <a href="#" (click)="$event.preventDefault(); measureSelected('logs')">{{ 'devices.fridge.workmode-' + workmode | translate }}</a>
    <p *ngIf="recipe?.activeSince > 0">
      #{{ recipe.activeStepIndex + 1 }} {{ recipe.steps?.[recipe.activeStepIndex]?.name }}
      [{{ getRecipeStepRemainingDuration(recipe.steps?.[recipe.activeStepIndex])}}]
    </p>
    <p *ngIf="recipe?.activeSince > 0 && getRecipeConfirmationMessage(recipe.steps?.[recipe.activeStepIndex]) as confirmMsg">
      <ion-text color="warning">
        <ion-icon name="warning" color="warning"></ion-icon>
        {{ confirmMsg }}
      </ion-text>
    </p>
  </h3>
  <ion-row class="ion-justify-content-center">
    <ion-col size="6" size-sm="3" size-xl="2">
      <value-display
        style="cursor: pointer;"
        (click)="measureSelected('temperature')"
        name="Temperature"
        icon="temperature_neutral"
        unit="°C"
        [value]="data.measure(device_id, 'temperature') | async | round"
        [average-value]="(data.measureAvg(device_id, 'temperature') | async | round)"
        [target-value]="tempTarget | round"
        scale-min="0"
        scale-max="50"
        [limit-min]="t_l"
        [limit-max]="t_h"
      ></value-display>
    </ion-col>
    <ion-col size="6" size-sm="3" size-xl="2">
      <value-display
        style="cursor: pointer;"
        (click)="measureSelected('humidity')"
        name="humidity"
        icon="humidity_neutral"
        unit="%"
        [value]="data.measure(device_id, 'humidity') | async | round"
        [average-value]="(data.measureAvg(device_id, 'humidity') | async | round)"
        [target-value]="humidityTarget | round"
        scale-min="0"
        scale-max="100"
        [limit-min]="r_l"
        [limit-max]="r_h"
      ></value-display>
    </ion-col>
  <!-- </ion-row>
  <ion-row> -->
    <ion-col size="6" size-sm="3" size-xl="2">
      <value-display
        style="cursor: pointer;"
        (click)="measureSelected('vpd')"
        name="VPD"
        icon="vpd_neutral"
        unit="kPa"
        [value]="data.measure(device_id, 'vpd') | async | round: 2"
        [average-value]="(data.measureAvg(device_id, 'vpd') | async | round: 2)"
        scale-min="0"
        scale-max="2"
        [limit-min]="vpd_l"
        [limit-max]="vpd_h"
      ></value-display>
    </ion-col>
    <ion-col size="6" size-sm="3" size-xl="2" *ngIf="showCo2Display">
      <value-display
        style="cursor: pointer;"
        (click)="measureSelected('co2')"
        name="CO2"
        icon="co2_neutral"
        unit="PPM"
        [value]="data.measure(device_id, 'co2') | async | nofract"
        [average-value]="(data.measureAvg(device_id, 'co2') | async | round)"
        [target-value]="co2Target | round"
        scale-min="0"
        scale-max="5000"
        [limit-min]="co2_l"
        [limit-max]="co2_h"
      ></value-display>
    </ion-col>
    <ion-col size="6" size-sm="3" size-xl="2" *ngIf="showLeafTempDisplay">
      <value-display
        style="cursor: pointer;"
        (click)="measureSelected('leaf_temperature')"
        name="Leaf Temp"
        icon="temperature_neutral"
        unit="°C"
        [value]="data.measure(device_id, 'leaf_temperature') | async | round"
        [average-value]="(data.measureAvg(device_id, 'leaf_temperature') | async | round)"
        scale-min="0"
        scale-max="50"
      ></value-display>
    </ion-col>
    <ion-col size="6" size-sm="3" size-xl="2" *ngIf="showPpfdDisplay">
      <value-display
        style="cursor: pointer;"
        (click)="measureSelected('ppfd')"
        name="PPFD"
        icon="light_neutral"
        unit="µmol/m²/s"
        [value]="data.measure(device_id, 'ppfd') | async | nofract"
        [average-value]="(data.measureAvg(device_id, 'ppfd') | async | nofract)"
        scale-min="0"
        scale-max="2000"
      ></value-display>
    </ion-col>
    <ion-col *ngIf="deviceImageUrl">
      <img
        [src]="deviceImageUrl"
        (click)="measureSelected('image')"
        fill="fill"
        alt="Device Image"
        style="width: 100%; cursor: pointer;" />
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-col size="6" size-sm="2" size-xl="1">
      <div
        class="onoff heating"
        [class.on]="(data.measure(device_id, 'out_heater') | async) ?? 0 >= 0.5"
        style="cursor: pointer;"
        (click)="measureSelected('out_heater')"
      >
        <img class="icon-on" src="assets/icon/heating.svg" />
        <img class="icon-off" src="assets/icon/heating_off.svg" />
        <!-- <div class="name">{{'outputs.heating' | translate}}</div> -->
        <div class="current">{{data.measure(device_id, 'out_heater') | async | multiply:100 | nofract}}%</div>
      </div>
    </ion-col>
    <ion-col size="6" size-sm="2" size-xl="1">
      <div
        class="onoff cooling"
        [class.on]="(data.measure(device_id, 'out_dehumidifier') | async) != 0"
        style="cursor: pointer;"
        (click)="measureSelected('out_dehumidifier')"
      >
        <img class="icon-on" src="assets/icon/dehumidify.svg" />
        <img class="icon-off" src="assets/icon/dehumidify_off.svg" />
        <!-- <div class="name">{{'outputs.dehumidify' | translate}}</div> -->
        <div class="current">{{data.measure(device_id, 'out_dehumidifier') | async | onoff | translate}}</div>
      </div>
    </ion-col>
    <ion-col size="6" size-sm="2" size-xl="1" *ngIf="showCo2Display">
      <div
        class="onoff co2"
        [class.on]="(data.measure(device_id, 'out_co2') | async) != 0"
        style="cursor: pointer;"
        (click)="measureSelected('out_co2')"
      >
        <img class="icon-on" src="assets/icon/co2_valve.svg" />
        <img class="icon-off" src="assets/icon/co2_valve_off.svg" />
        <!-- <div class="name">{{'outputs.co2' | translate}}</div> -->
        <div class="current">{{data.measure(device_id, 'out_co2') | async | onoff | translate}}</div>
      </div>
    </ion-col>
    <ion-col size="6" size-sm="2" size-xl="1">
      <div
        class="onoff lights"
        [class.on]="(data.measure(device_id, 'out_light') | async) ?? 0 >= 0.5"
        style="cursor: pointer;"
        (click)="measureSelected('out_light')"
      >
        <img class="icon-on" src="assets/icon/light.svg" />
        <img class="icon-off" src="assets/icon/light_off.svg" />
        <!-- <div class="name">{{'outputs.lights' | translate}}</div> -->
        <div class="current">{{data.measure(device_id, 'out_light') | async | nofract}}%</div>
        <!-- <div class="current" *ngIf="state.is_day">{{state.light_percent | nofract}}%</div> -->
      </div>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center" *ngIf="getMaintenanceModeRemainingMs() > 0">
    <ion-col size="12" size-sm="6" size-md="4" size-lg="3">
      <div class="maintenance-mode ion-text-center">
        <ion-icon name="construct-outline"></ion-icon>
        Maintenance mode [{{ getMaintenanceModeRemainingDuration() }}]
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size-md="2" size-sm="3" size="12" style="z-index: 1000">
      <ion-button expand="block" [routerLink]="['/device', device_id, 'charts']">{{'devices.button-charts' | translate}}</ion-button>
    </ion-col>
    <ion-col size-md="2" size-sm="3" size="12" style="z-index: 1000">
      <ion-button expand="block" [routerLink]="['/device', device_id, 'settings']">{{'devices.button-settings' | translate}}</ion-button>
    </ion-col>
    <ion-col size-md="2" size-sm="3" size="12" style="z-index: 1000" *ngIf="is_admin && workmode === 'off' && device_online">
      <ion-button expand="block" [routerLink]="['/device', device_id, 'testmode']">Testmode</ion-button>
    </ion-col>
    <ion-col size-md="2" size-sm="3" size="12" style="z-index: 1000">
      <ion-button expand="block" (click)="maintenanceMode()">{{'devices.button-maintenance-mode' | translate}}</ion-button>
    </ion-col>
    <ion-col size-md="2" size-sm="3" size="12" style="z-index: 1000">
      <ion-button expand="block" [routerLink]="['/device', device_id, 'diary']">{{'devices.button-diary' | translate}}</ion-button>
    </ion-col>
  </ion-row>
</ion-card-content>
