<ion-card>
  <ion-card-header>
    <ion-card-title> {{'settings.cloudSettings' | translate}}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-item lines="none">
      <ion-label>{{ 'settings.vpdLeafTempOffsetDay' | translate}}</ion-label>
      <ion-input
        type="number"
        [(ngModel)]="cloudSettings.vpdLeafTempOffsetDay"
        (ngModelChange)="cloudSettingsChange.emit(cloudSettings)"
        class="ion-text-right"></ion-input>
      <ion-text>&deg;C</ion-text>
    </ion-item>
    <ion-item lines="none">
      <ion-label>{{ 'settings.vpdLeafTempOffsetNight' | translate}}</ion-label>
      <ion-input type="number"
                 [(ngModel)]="cloudSettings.vpdLeafTempOffsetNight"
                  (ngModelChange)="cloudSettingsChange.emit(cloudSettings)"
                 class="ion-text-right"></ion-input>
      <ion-text>&deg;C</ion-text>
    </ion-item>
    <ion-item lines="none" *ngIf="hardwareInfo?.['ppfd'] === 'on'">
      <ion-label>{{ 'settings.ppfdLuxFactor' | translate}}</ion-label>
      <ion-button fill="clear" id="cloudSettings-ppfdLuxFactor-popover">
        <ion-icon name="help-circle-outline"></ion-icon>
      </ion-button>
      <ion-input type="number"
                 [(ngModel)]="cloudSettings.ppfdLuxFactor"
                 (ngModelChange)="cloudSettingsChange.emit(cloudSettings)"
                 placeholder="0.015"
                 class="ion-text-right"></ion-input>
      <ion-popover trigger="cloudSettings-ppfdLuxFactor-popover" [dismissOnSelect]="true">
        <ng-template>
          <ion-content class="ion-padding">{{'settings.ppfdLuxFactorHint' | translate}}</ion-content>
        </ng-template>
      </ion-popover>
    </ion-item>
    <ion-item lines="none">
      <ion-label>{{'settings.firmwareChannel' | translate}}</ion-label>
      <ion-select
        [(ngModel)]="cloudSettings.firmwareChannel"
        (ngModelChange)="onFirmwareChannelChanged()"
        class="ion-text-right">
        <ion-select-option value="stable">{{'settings.firmwareChannels.stable' | translate}}</ion-select-option>
        <ion-select-option value="beta">{{'settings.firmwareChannels.beta' | translate}}</ion-select-option>
        <ion-select-option value="alpha">{{'settings.firmwareChannels.alpha' | translate}}</ion-select-option>
        <ion-select-option value="manual">{{'settings.firmwareChannels.manual' | translate}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item lines="none" *ngIf="cloudSettings.firmwareChannel === 'manual'">
      <ion-label>{{'settings.firmwareVersion' | translate}}</ion-label>
      <ion-select
        [(ngModel)]="cloudSettings.pendingFirmware"
        (ngModelChange)="cloudSettingsChange.emit(cloudSettings); onFirmwareUpdateChanged()"
        [selectedText]="selectedFirmwareLabel()"
        interface="alert"
        [interfaceOptions]="{ cssClass: 'wide-firmware-select' }"
        class="ion-text-right">
        <ion-select-option *ngFor="let fw of firmwares" [value]="fw.firmware_id">
          {{ firmwareOptionLabel(fw) }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item lines="none">
      <ion-label>{{'settings.betaFeatures' | translate}}</ion-label>
      <ion-checkbox
        [(ngModel)]="cloudSettings.betaFeatures"
        (ngModelChange)="onBetaFeaturesChanged()"
      ></ion-checkbox>
    </ion-item>
    <ion-item-divider />
    <ion-item lines="none">
      <ion-label>{{'settings.dangerZone' | translate}}</ion-label>
      <ion-button color="danger" (click)="deleteDevice()" slot="end">
        {{'settings.deleteDevice' | translate}}
      </ion-button>
    </ion-item>
  </ion-card-content>
</ion-card>
