<ion-card>
  <ion-card-header>
    <ion-card-title> {{'settings.cloudSettings' | translate}}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-item lines="none">
      <ion-label>{{ 'settings.vpdLeafTempOffsetDay' | translate}}</ion-label>
      <ion-input
        type="number"
        [(ngModel)]="cloudSettings.vpdLeafTempOffsetDay"
        (ngModelChange)="cloudSettingsChange.emit(cloudSettings)"
        class="ion-text-right"></ion-input>
      <ion-text>&deg;C</ion-text>
    </ion-item>
    <ion-item lines="none">
      <ion-label>{{ 'settings.vpdLeafTempOffsetNight' | translate}}</ion-label>
      <ion-input type="number"
                 [(ngModel)]="cloudSettings.vpdLeafTempOffsetNight"
                  (ngModelChange)="cloudSettingsChange.emit(cloudSettings)"
                 class="ion-text-right"></ion-input>
      <ion-text>&deg;C</ion-text>
    </ion-item>
    <ion-item lines="none">
      <ion-label>{{'settings.rtspStream' | translate}}</ion-label>
      <ion-button fill="clear" id="cloudSettings-rtspStream-popover">
        <ion-icon name="help-circle-outline"></ion-icon>
      </ion-button>
      <ion-input
        type="text"
        [(ngModel)]="cloudSettings.rtspStream"
        (ngModelChange)="cloudSettingsChange.emit(cloudSettings)"
        class="ion-text-right"></ion-input>
      <ion-popover trigger="cloudSettings-rtspStream-popover" [dismissOnSelect]="true">
        <ng-template>
          <ion-content>
            {{'settings.rtspStreamHint' | translate}}
            <a href="https://www.ffmpeg.org/ffmpeg-protocols.html" target="_blank">FFMPEG Documentation</a>
          </ion-content>
        </ng-template>
      </ion-popover>
    </ion-item>
    <ion-item lines="none" *ngIf="cloudSettings?.rtspStream?.startsWith('rtsp://')">
      <ion-label>{{'settings.rtspStreamTransport' | translate}}</ion-label>
      <ion-select
        [(ngModel)]="cloudSettings.rtspStreamTransport"
        (ngModelChange)="cloudSettingsChange.emit(cloudSettings)"
        class="ion-text-right">
        <ion-select-option value="tcp">tcp</ion-select-option>
        <ion-select-option value="http">http</ion-select-option>
        <ion-select-option value="https">https</ion-select-option>
      </ion-select>
      <ion-popover trigger="cloudSettings-rtspStream-popover" [dismissOnSelect]="true">
        <ng-template>
          <ion-content>
            {{'settings.rtspStreamHint' | translate}}
            <a href="https://www.ffmpeg.org/ffmpeg-protocols.html" target="_blank">FFMPEG Documentation</a>
          </ion-content>
        </ng-template>
      </ion-popover>
    </ion-item>
    <ion-item lines="none" *ngIf="cloudSettings?.rtspStream?.startsWith('rtsp://') && cloudSettings.betaFeatures">
      <ion-label>
        {{ 'settings.tunnelRtspStream' | translate}}
        <ion-button fill="clear" id="cloudSettings-tunnelRtspStream-popover">
          <ion-icon name="help-circle-outline"></ion-icon>
        </ion-button>
      </ion-label>
      <ion-checkbox
        [(ngModel)]="cloudSettings.tunnelRtspStream"
        (ngModelChange)="cloudSettingsChange.emit(cloudSettings)"
      ></ion-checkbox>
      <ion-popover trigger="cloudSettings-tunnelRtspStream-popover" [dismissOnSelect]="true">
        <ng-template>
          <ion-content>
            {{'settings.tunnelRtspStreamHint' | translate}}
          </ion-content>
        </ng-template>
      </ion-popover>
    </ion-item>
    <ion-item lines="none" [hidden]="!cloudSettings?.rtspStream">
      <ion-label>{{'settings.logRtspStreamErrors' | translate}}</ion-label>
      <ion-checkbox
        [(ngModel)]="cloudSettings.logRtspStreamErrors"
        (ngModelChange)="cloudSettingsChange.emit(cloudSettings)"
      ></ion-checkbox>
    </ion-item>
    <ion-item lines="none" [hidden]="!cloudSettings?.rtspStream">
      <ion-label>
        {{'settings.maintenanceWebcamOff' | translate}}
        <ion-button fill="clear" id="cloudSettings-maintenanceWebcamOff-popover">
          <ion-icon name="help-circle-outline"></ion-icon>
        </ion-button>
      </ion-label>
      <ion-checkbox
        [(ngModel)]="cloudSettings.maintenanceWebcamOff"
        (ngModelChange)="cloudSettingsChange.emit(cloudSettings)"
      ></ion-checkbox>
      <ion-popover trigger="cloudSettings-maintenanceWebcamOff-popover" [dismissOnSelect]="true">
        <ng-template>
          <ion-content>
            {{'settings.maintenanceWebcamOffHint' | translate}}
          </ion-content>
        </ng-template>
      </ion-popover>
    </ion-item>
    <ion-item lines="none">
      <ion-label>{{'settings.autoFirmwareUpdate' | translate}}</ion-label>
      <ion-checkbox
        [(ngModel)]="cloudSettings.autoFirmwareUpdate"
        (ngModelChange)="onAutoFirmwareUpdateChanged()"
      ></ion-checkbox>
    </ion-item>
    <ion-item lines="none" *ngIf="cloudSettings.autoFirmwareUpdate">
      <ion-label>{{'settings.firmwareChannel' | translate}}</ion-label>
      <ion-select
        [(ngModel)]="cloudSettings.firmwareChannel"
        (ngModelChange)="cloudSettingsChange.emit(cloudSettings); onFirmwareUpdateChanged()"
        class="ion-text-right">
        <ion-select-option value="stable">{{'settings.firmwareChannels.stable' | translate}}</ion-select-option>
        <ion-select-option value="beta">{{'settings.firmwareChannels.beta' | translate}}</ion-select-option>
        <ion-select-option value="alpha">{{'settings.firmwareChannels.alpha' | translate}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item lines="none">
      <ion-label>
        {{'settings.publicRead' | translate}}
        <ion-button fill="clear" id="cloudSettings-publicRead-popover">
          <ion-icon name="help-circle-outline"></ion-icon>
        </ion-button>
      </ion-label>
      <ion-checkbox
        [(ngModel)]="cloudSettings.publicRead"
        (ngModelChange)="cloudSettingsChange.emit(cloudSettings)"
      ></ion-checkbox>
      <ion-popover trigger="cloudSettings-publicRead-popover" [dismissOnSelect]="true">
        <ng-template>
          <ion-content>
            {{'settings.publicReadHint' | translate}}
          </ion-content>
        </ng-template>
      </ion-popover>
    </ion-item>
    <ion-item lines="none">
      <ion-label>{{'settings.betaFeatures' | translate}}</ion-label>
      <ion-checkbox
        [(ngModel)]="cloudSettings.betaFeatures"
        (ngModelChange)="onBetaFeaturesChanged()"
      ></ion-checkbox>
    </ion-item>
    <ion-item-divider />
    <ion-item lines="none">
      <ion-label>{{'settings.dangerZone' | translate}}</ion-label>
      <ion-button color="danger" (click)="deleteDevice()" slot="end">
        {{'settings.deleteDevice' | translate}}
      </ion-button>
    </ion-item>
  </ion-card-content>
</ion-card>
