<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{'charts.title' | translate}}</ion-title>
    <ion-buttons slot="end" *ngIf="loaded && !isPublic">
      <ion-button (click)="openShareModal()" [title]="'share.button' | translate">
        <ion-icon slot="icon-only" name="share-social-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div class="button-row" style="float:right">
    <button [class.active]="ts.enabled" (click)="setSpan(ts)" *ngFor="let ts of timespans">{{ts.name}}</button>
  </div>
  <div class="button-row">
    <button [class.active]="m.enabled" (click)="toggleMeasure(m)" *ngFor="let m of measures">{{m.name}}</button>
  </div> -->

  <ion-row *ngIf="!locked">
    <ng-container *ngFor="let m of filtered_measures">
      <ion-col [class]="'onoff ' + m.name" style="cursor: pointer;" [class.on]="m.enabled" (click)="toggleMeasure(m)">
        <img class="icon-on" src="assets/icon/{{m.icon}}.svg" [alt]="'Measure ' + m.name + ' on'" />
        <img class="icon-off" src="assets/icon/{{m.icon}}_off.svg" [alt]="'Measure ' + m.name + ' off'" />
      </ion-col>
    </ng-container>
    <ng-container>
      <ion-col
        class="onoff deviceImage"
        style="cursor: pointer;"
        [class.on]="showImage"
        (click)="toggleShowImage()"
        [hidden]="!cloudSettings?.rtspStream"
        title="Show image">
        <img class="icon-on" src="assets/icon/camera.svg" alt="Image on" />
        <img class="icon-off" src="assets/icon/camera_off.svg" alt="Image off" style="opacity: 0.3" />
      </ion-col>
      <ion-col
        class="onoff showLogs"
        style="cursor: pointer;"
        [class.on]="showLogs"
        (click)="toggleShowLogs()"
        title="Show logs">
        <img class="icon-on" src="assets/icon/logs.svg" alt="Logs on" />
        <img class="icon-off" src="assets/icon/logs_off.svg" alt="Logs off" style="opacity: 0.3" />
      </ion-col>
      <ion-col
        class="onoff autoUpdate"
        style="cursor: pointer;"
        [class.on]="autoUpdate"
        (click)="toggleAutoUpdate()"
        [hidden]="hasFixedDateRange()"
        title="Auto update">
        <img class="icon-on" src="assets/icon/autoUpdate.png" alt="Auto update on" />
        <img class="icon-off" src="assets/icon/autoUpdate_off.png" alt="Auto update off" style="opacity: 0.3" />
      </ion-col>
    </ng-container>
  </ion-row>

  <ion-row [hidden]="locked || (!useCustom && !showLightOffsetControls()) || (autoUpdate && (showImage || showLogs) && !hasEnabledMeasures())">
    <ng-container>
      <ion-col [hidden]="hasFixedDateRange()">
        <ion-item lines="none">
          <ion-label>{{'charts.timespan' | translate}}</ion-label>
          <ion-select
            [(ngModel)]="selectedTimespan"
            (ionChange)="timespanChanged()"
            style="width: 4.7em"
          >
            <ion-select-option *ngFor="let ts of getAvailableTimespans()" [value]="ts">
              {{ts.name}}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>

      <ion-col [hidden]="showLightOffsetControls()">
        <ion-item lines="none">
          <ion-label>{{'charts.interval' | translate}}</ion-label>
          <ion-select
            [(ngModel)]="selectedInterval"
            (ionChange)="intervalChanged()"
            style="width: 4.7em"
          >
            <ion-select-option *ngFor="let interval of intervals" [value]="interval">
              {{interval}}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>

      <ion-col [hidden]="!isMeasureEnabled('vpd') || !['fridge', 'fridge2', 'light'].includes(device_type)">
        <ion-item lines="none">
          <ion-label>{{ 'charts.vpd-mode-label' | translate }}</ion-label>
          <ion-select
            [(ngModel)]="vpdMode"
            (ionChange)="vpdModeChanged()"
            style="width: 6.5em"
          >
            <ion-select-option value="all">{{'charts.vpd-mode.all' | translate}}</ion-select-option>
            <ion-select-option value="day">{{'charts.vpd-mode.day' | translate}}</ion-select-option>
            <ion-select-option value="night">{{'charts.vpd-mode.night' | translate}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>

      <ion-col [hidden]="hasFixedDateRange()">
        <ion-item lines="none">
          <ion-label style="cursor: pointer;" (click)="openDateModal()">{{'charts.offset' | translate}}</ion-label>
          <ion-button id="charts-date-trigger" fill="clear" size="small">
            {{ selectedDate ? (selectedDate | date: 'medium') : '' }}
          </ion-button>

          <ion-modal #chartsDateModal trigger="charts-date-trigger" [keepContentsMounted]="true">
            <ng-template>
              <ion-header>
                <ion-toolbar>
                  <ion-title>{{ 'charts.offset' | translate }}</ion-title>
                  <ion-buttons slot="end">
                    <ion-button (click)="chartsDateModal.dismiss()">{{ 'misc.close' | translate }}</ion-button>
                  </ion-buttons>
                </ion-toolbar>
              </ion-header>
              <ion-content>
                <ion-datetime
                  id="charts-date"
                  presentation="date-time"
                  [(ngModel)]="selectedDate"
                ></ion-datetime>
              </ion-content>
              <ion-footer>
                <ion-toolbar>
                  <ion-buttons slot="end">
                    <ion-button (click)="dateChanged(chartsDateModal)" color="primary">
                      {{ 'misc.ok' | translate }}
                    </ion-button>
                  </ion-buttons>
                </ion-toolbar>
              </ion-footer>
            </ng-template>
          </ion-modal>
        </ion-item>
      </ion-col>

      <ion-col [hidden]="hasFixedDateRange()">
        <ion-button
          color="light"
          (click)="prevOffset()"
          [disabled]="autoUpdate"
        >
          &#8592;
        </ion-button>
        <ion-button
          color="light"
          (click)="nextOffset()"
          [disabled]="autoUpdate"
        >
          &#8594;
        </ion-button>
      </ion-col>
    </ng-container>
  </ion-row>

  <ion-row [hidden]="locked || useCustom || !hasEnabledMeasures() || hasFixedDateRange()">
    <ion-col>
      <ion-button
        *ngFor="let tf of timespans"
        [hidden]="!tf.highlight"
        [color]="selectedTimespan === tf ? 'secondary' : 'light'"
        (click)="selectedTimespan = tf; timespanChanged()"
      >
        {{tf.name}}
      </ion-button>
      <ion-button
        color="light"
        (click)="useCustom = true"
      >
        ...
      </ion-button>
    </ion-col>
  </ion-row>


  <div #spacer style="padding: 5px; width: 100%"></div>

  <ion-row>
    <ion-col [style.width]="(showImage || showLogs) ? '50%' : ''" [hidden]="!hasEnabledMeasures()">
      <highcharts-chart
      *ngIf="loaded"
      [Highcharts]="Highcharts"
      constructorType="stockChart"
      [options]="chartOptions"
      [(update)]="updateFlag"
      (chartInstance)="onChartInstance($event)"></highcharts-chart>
    </ion-col>
    <ion-col *ngIf="showImage || showLogs" [style.width]="hasEnabledMeasures() ? '50%' : '100%'">
      <div *ngIf="showImage">
        <img *ngIf="!isAnimatedImage()" [src]="deviceImageUrl ?? ''" alt="Device Image" style="width: 100%"/>
        <div *ngIf="isAnimatedImage()" class="timelapse-video-wrapper">
          <video
            [src]="deviceImageUrl ?? ''"
            autoplay
            muted
            loop
            playsinline
            (timeupdate)="onVideoTimeUpdate($event)"
          ></video>
          <div class="timelapse-progress" [style.width.%]="videoProgress"></div>
        </div>
        <br />
        {{ currentImageTimestamp | date: (isAnimatedImage() ? 'mediumDate' : 'medium') }}
      </div>
      <div *ngIf="showLogs">
        <ion-list>
          <ion-item lines="full">
            <ion-label>
              <ion-row>
                <ion-col>
                  <h1>{{'charts.logsTitle' | translate}} ({{ filteredLogsUngroupedCount }})</h1>
                </ion-col>
                <ion-col class="ion-text-right" [hidden]="deviceLogCategories.length <= 0 || locked">
                  <app-log-category-selector
                    [availableCategories]="deviceLogCategories"
                    [selectedCategories]="selectedLogCategories"
                    (selectedCategoriesChange)="logCategoryChanged($event)"
                  ></app-log-category-selector>
                </ion-col>
              </ion-row>
              <ion-row *ngIf="selectedLogs.length > 0 && filteredLogsSelectionFiltered">
                <ion-col>
                  <ion-button expand="block" color="primary" (click)="selectedLogs.splice(0, selectedLogs.length); this.groupLogs = true; this.filterLogs()">{{'charts.logsShowAll' | translate}}</ion-button>
                </ion-col>
              </ion-row>
            </ion-label>
          </ion-item>
          <ion-item lines="full" *ngIf="filteredLogs.length === 0">
            <ion-label>
              {{ 'charts.logsNoEntries' | translate }}
            </ion-label>
          </ion-item>
          <app-log-entry-viewer
            [logs]="filteredLogs"
            [selectedCategories]="selectedLogCategories"
            (showAll)="disableLogGrouping()"
          ></app-log-entry-viewer>
        </ion-list>
      </div>
    </ion-col>
  </ion-row>

</ion-content>
