{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "dynamicImport": true,
      "decorators": true
    },
    "preserveAllComments": true,
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true
    },
    "target": "es2017",
    "externalHelpers": false,
    "keepClassNames": true,
    "loose": false,
    "minify": {
      "compress": false,
      "mangle": false
    },
    "baseUrl": "src",
    "paths": {
      "@/*": [
        "*"
      ],
      "@common/*": [
        "common/*"
      ],
      "@config/*": [
        "config/*"
      ],
      "@database/*": [
        "database/*"
      ],
      "@modules/*": [
        "modules/*"
      ],
      "@utils/*": [
        "utils/*"
      ]
    }
  },
  "module": {
    "type": "commonjs"
  }
}
