.container {
  text-align: center;
}

h1 {
  text-align: center;
  display: inline-block;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: 'Open Sans';
  line-height: 50px;
  vertical-align: middle;
  text-transform: uppercase;
}

i {
  float: left;
  font-size: 50px;
}

.placer {
  position: absolute;
  top: 57%;
  left: 43%;
  right: 43%;
  bottom: 0%;
}

:host {
  --value-display-text-primary: var(--ion-text-color);
  --value-display-text-secondary: var(--ion-color-step-700);
}

svg .primary-text {
  fill: var(--value-display-text-primary);
}

svg .secondary-text {
  fill: var(--value-display-text-secondary);
}

:host-context(body.dark) svg image {
  filter: brightness(1.5) contrast(0.1);
}
