<div class="offline-overlay" *ngIf="device_online == false">
  <p>{{'devices.device-offline' | translate}}</p>
</div>

<ion-card-content>
  <div id="open-modal" class="button message-icon" [class.warn]="severity == 1" [class.error]="severity == 2" *ngIf="has_logs" (click)="showLogs()">
    <ion-icon name="alert-circle-outline"></ion-icon>
  </div>

  <ion-content class="ion-padding">
    <ion-modal [isOpen]="showDeviceLog" (willDismiss)="showDeviceLog = false">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>{{'devices.device-log' | translate}}</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="showDeviceLog = false">{{'misc.close' | translate}}</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <app-log-entry-viewer [logs]="logs"></app-log-entry-viewer>

        </ion-content>
        <ion-footer>
          <ion-button expand="block" (click)="clearLogs()">{{'devices.clear-log' | translate}}</ion-button>
        </ion-footer>
      </ng-template>
    </ion-modal>
  </ion-content>

  <div style="height: 20px"></div>
  <h1 style="z-index: 1000" (click)="editName()" *ngIf="!editingName">{{device_name}}</h1>
  <input style="display: none; font-size: 24px;" #nameedit type="text" [(ngModel)]="device_name" (blur)="doneEdit()"/>
  <h3>{{'devices.plug.title' | translate}}</h3>
  <ion-row class="ion-justify-content-center">
    <ion-col size="6" size-sm="3" size-xl="2">
      <value-display
        name="Temperature"
        icon="temperature_neutral"
        unit="°C"
        [value]="data.measure(device_id, 'temperature') | async | round"
        scale-min="0"
        scale-max="50"
        [limit-min]="t_l"
        [limit-max]="t_h"

      ></value-display>
    </ion-col>
    <ion-col size="6" size-sm="3" size-xl="2">
      <value-display
        name="humidity"
        icon="humidity_neutral"
        unit="%"
        [value]="data.measure(device_id, 'humidity') | async | round"
        scale-min="0"
        scale-max="100"
        [limit-min]="r_l"
        [limit-max]="r_h"

      ></value-display>
    </ion-col>
  <!-- </ion-row>
  <ion-row> -->
    <ion-col size="6" size-sm="3" size-xl="2" *ngIf="(data.measure(device_id, 'sensor_type') | async) == 2">
      <value-display
        name="CO2"
        icon="co2_neutral"
        unit="PPM"
        [value]="data.measure(device_id, 'co2') | async | nofract"
        scale-min="0"
        scale-max="5000"
        [limit-min]="co2_l"
        [limit-max]="co2_h"

      ></value-display>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-col size="6" size-sm="2" size-xl="1">
      <div class="onoff heating" [class.on]="(data.measure(device_id, 'out_relais') | async) ?? 0 >= 0.5">
        <img class="icon-on" src="assets/icon/light.svg" />
        <img class="icon-off" src="assets/icon/light_off.svg" />
        <!-- <div class="name">{{'outputs.heating' | translate}}</div> -->
        <div class="current">{{data.measure(device_id, 'out_relais') | async | onoff | translate}}</div>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size-md="2" size-sm="3" size="12" style="z-index: 1000">
      <ion-button expand="block" [routerLink]="['/device', device_id, 'charts']">{{'devices.button-charts' | translate}}</ion-button>
    </ion-col>
    <ion-col size-md="2" size-sm="3" size="12" style="z-index: 1000">
      <ion-button expand="block" [disabled]="device_online == false" [routerLink]="['/device', device_id, 'settings']">{{'devices.button-settings' | translate}}</ion-button>
    </ion-col>
    <!-- <ion-col size-md="2" size-sm="3" size="12" style="z-index: 1000">
      <ion-button expand="block" [disabled]="device_online == false" [routerLink]="['/device', device_id, 'testmode']">Testmode</ion-button>
    </ion-col> -->
    <ion-col size-md="2" size-sm="3" size="12" style="z-index: 1000">
      <ion-button expand="block" [routerLink]="['/device', device_id, 'diary']">{{'devices.button-diary' | translate}}</ion-button>
    </ion-col>
  </ion-row>
</ion-card-content>
