<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Fleet/Firmware Management</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngFor="let cls of classes">
    <ion-item>
      <ion-label>{{cls.class.name}} - {{cls.class.description}}</ion-label>
    </ion-item>
    <div class="ion-padding">
      <ion-grid>
        <ion-row>
          <ion-col>Name:</ion-col>
          <ion-col><ion-input label="name" [(ngModel)]="cls.class.name"></ion-input></ion-col>
        </ion-row>
        <ion-row>
          <ion-col>Description:</ion-col>
          <ion-col><ion-input label="description" [(ngModel)]="cls.class.description"></ion-input></ion-col>
        </ion-row>
        <ion-row>
          <ion-col>Concurrent Upgrades:</ion-col>
          <ion-col><ion-input label="concurrent" [(ngModel)]="cls.class.concurrent"></ion-input></ion-col>
        </ion-row>
        <ion-row>
          <ion-col>Max Failes:</ion-col>
          <ion-col><ion-input label="concurrent" [(ngModel)]="cls.class.maxfails"></ion-input></ion-col>
        </ion-row>
        <ion-row>
          <ion-col>Current Firmware:</ion-col>
          <ion-col>{{cls.class.firmware_id}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button color="secondary" (click)="updateClass(cls.class);">update</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row>
          <ion-col size="2">ID</ion-col>
          <ion-col size="3">Version</ion-col>
          <ion-col>online</ion-col>
          <ion-col>total</ion-col>
          <ion-col>upgrading</ion-col>
          <ion-col>failed</ion-col>
          <ion-col>avg</ion-col>
          <ion-col>max</ion-col>
          <ion-col>beta</ion-col>
          <ion-col>alpha</ion-col>
          <ion-col>rollout</ion-col>
          <ion-col>delete</ion-col>
        </ion-row>
        <ion-row *ngFor="let fw of cls.versions"
                  [class.active]="fw.fw.firmware_id == cls.class.firmware_id"
                  [class.beta]="fw.fw.firmware_id != cls.class.firmware_id && fw.fw.firmware_id == cls.class.beta_firmware_id"
                  [class.alpha]="fw.fw.firmware_id != cls.class.firmware_id && fw.fw.firmware_id == cls.class.alpha_firmware_id">
          <ion-col size="2" class="firmware-id-col">{{fw.fw.firmware_id || "unknown"}}</ion-col>
          <ion-col size="3">
            <ion-input
              *ngIf="fw.fw.firmware_id"
              class="version-input"
              [(ngModel)]="fw.fw.version"
              (keyup.enter)="updateFirmwareVersion(fw.fw);"
              (ionBlur)="updateFirmwareVersion(fw.fw);"
              [disabled]="fw.fw.deleted"
            ></ion-input>
            <ng-container *ngIf="!fw.fw.firmware_id">{{fw.fw.version}}</ng-container>
          </ion-col>
          <ion-col>{{fw.online}}</ion-col>
          <ion-col>{{fw.total}}</ion-col>
          <ion-col>{{fw.updating}}</ion-col>
          <ion-col>{{fw.failed}}</ion-col>
          <ion-col>{{fw.avgtime / 1000}}</ion-col>
          <ion-col>{{fw.maxtime / 1000}}</ion-col>
          <ion-col>
            <ion-button
              *ngIf="fw.fw.firmware_id"
              color="secondary"
              (click)="rollout(cls.class, fw.fw.firmware_id, 'beta');"
              [disabled]="fw.fw.deleted || fw.fw.firmware_id === cls.class.beta_firmware_id"
            >
              beta
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button
              *ngIf="fw.fw.firmware_id"
              color="secondary"
              (click)="rollout(cls.class, fw.fw.firmware_id, 'alpha');"
              [disabled]="fw.fw.deleted || fw.fw.firmware_id === cls.class.alpha_firmware_id"
            >
              alpha
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button
              *ngIf="fw.fw.firmware_id"
              color="secondary"
              (click)="rollout(cls.class, fw.fw.firmware_id);"
              [disabled]="fw.fw.deleted || fw.fw.firmware_id === cls.class.firmware_id"
            >
              rollout
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button
              *ngIf="fw.fw.firmware_id && fw.total <= 0 && fw.updating <= 0 && fw.failed <= 0 && fw.fw.firmware_id !== cls.class.firmware_id"
              color="danger"
              (click)="delete(fw.fw);"
              [disabled]="fw.fw.deleted"
            >
              {{ fw.fw.deleted ? 'deleted' : 'delete' }}
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ng-container>
</ion-content>
