.active {
  background-color: rgba(var(--ion-color-secondary-rgb), 0.15);
}
.beta {
  background-color: rgba(var(--ion-color-warning-rgb), 0.15);
}
.alpha {
  background-color: rgba(var(--ion-color-danger-rgb), 0.15);
}

.version-label {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-style: dotted;
  text-underline-offset: 3px;
}
