.active {
  background-color: lightgreen;
}
.beta {
  background-color: lightyellow;
}
.alpha {
  background-color: lightsalmon;
}

.version-label {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-style: dotted;
  text-underline-offset: 3px;
}
