
<ion-card>
  <ion-card-header>
    <ion-card-title>{{'settings.title' | translate}}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-item *ngIf="workmodes">
      <ion-label>{{'devices.fridge.workmode' | translate}}</ion-label>
      <ion-select [(ngModel)]="settings.workmode" [interfaceOptions]="{'cssClass': 'wider-popover'}" (ngModelChange)="changeWorkmode(); onSettingsChanged()">
        <ion-select-option *ngFor="let mode of workmodes" [value]="mode.value">{{mode.name}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="has_daycycle && cloudSettings?.betaFeatures">
      <ion-label>{{'devices.fridge.settings.floating-day' | translate}}</ion-label>
      <ion-checkbox [(ngModel)]="settings.daynight.floating" (ionChange)="onSettingsChanged()">{{'devices.fridge.settings.floating-day' | translate}}</ion-checkbox>
    </ion-item>

    <ion-item *ngIf="has_daycycle && settings.daynight.floating">
      <ion-label>{{'devices.fridge.settings.float-start' | translate}}</ion-label>
      <ion-datetime-button datetime="floating"></ion-datetime-button>

      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime id="floating" presentation="date-time" hourCycle="h23" [(ngModel)]="settings.daynight.float_start" minuteValues="0,15,30,45" (ionChange)="onSettingsChanged()"></ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-item>


    <ng-container *ngIf="has_daycycle">
      <ng-container *ngIf="settings.daynight.floating">
        <value-edit-row
          [label]="'devices.fridge.settings.day_duration' | translate"
          [display]="settings.daynight.day_duration + ' h'"
          [(value)]="settings.daynight.day_duration"
          [min]="0" [max]="48" [step]="0.25"
          (changed)="onSettingsChanged()"
        ></value-edit-row>

        <value-edit-row
          [label]="'devices.fridge.settings.light_duration' | translate"
          [display]="settings.daynight.light_duration + ' h'"
          [(value)]="settings.daynight.light_duration"
          [min]="0" [max]="settings.daynight.day_duration" [step]="0.25"
          (changed)="onSettingsChanged()"
        ></value-edit-row>
      </ng-container>

      <ng-container *ngIf="!settings.daynight.floating">
        <value-edit-row
          [label]="'settings.daybreak' | translate"
          [display]="secondsToTimeString(settings.daynight.day).substring(11, 16)"
          [(value)]="settings.daynight.day"
          [min]="0" [max]="86400 - 900" [step]="900"
          (changed)="onSettingsChanged()"
        ></value-edit-row>

        <value-edit-row
          [label]="'settings.nightfall' | translate"
          [display]="secondsToTimeString(settings.daynight.night).substring(11, 16)"
          [(value)]="settings.daynight.night"
          [min]="0" [max]="86400 - 900" [step]="900"
          (changed)="onSettingsChanged()"
        ></value-edit-row>
      </ng-container>

      <value-edit-row
        [label]="'settings.dayTemperature' | translate"
        [display]="settings.day.temperature + ' °C'"
        [(value)]="settings.day.temperature"
        [min]="limits.temperature.min" [max]="limits.temperature.max" [step]="1"
        (changed)="onSettingsChanged()"
      ></value-edit-row>

      <ng-container *ngIf="has_humidity">
        <value-edit-row
          [label]="'settings.dayHumidity' | translate"
          [display]="settings.day.humidity + ' %'"
          [(value)]="settings.day.humidity"
          [min]="limits.humidity.min" [max]="limits.humidity.max" [step]="1"
          (changed)="onSettingsChanged()"
        ></value-edit-row>

        <ion-item>
          <ion-label>{{ 'settings.dayVpd' | translate }}</ion-label>
          <ion-text lines="none">
            {{ 'settings.vpdPreview' | translate: {vpd: getDayVpd(), humidity: settings.day?.humidity} }}
            -
            {{ 'settings.vpdPreview' | translate: {vpd: getDayVpd(10), humidity: settings.day?.humidity + 10 > 90 ? 90 : settings.day?.humidity + 10} }}</ion-text>
        </ion-item>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="settings.workmode !== 'off'">
      <value-edit-row
        [label]="(has_daycycle ? 'settings.nightTemperature' : 'settings.temperature') | translate"
        [display]="settings.night.temperature + ' °C'"
        [(value)]="settings.night.temperature"
        [min]="limits.temperature.min" [max]="limits.temperature.max" [step]="1"
        (changed)="onSettingsChanged()"
      ></value-edit-row>

      <ng-container *ngIf="has_humidity">
        <value-edit-row
          [label]="(has_daycycle ? 'settings.nightHumidity' : 'settings.humidity') | translate"
          [display]="settings.night.humidity + ' %'"
          [(value)]="settings.night.humidity"
          [min]="limits.humidity.min" [max]="limits.humidity.max" [step]="1"
          (changed)="onSettingsChanged()"
        ></value-edit-row>

        <ion-item>
          <ion-label>{{(has_daycycle ? 'settings.nightVpd' : 'settings.vpd') | translate }}</ion-label>
          <ion-text lines="none">
            {{ 'settings.vpdPreview' | translate: {vpd: getNightVpd(), humidity: settings.night?.humidity} }}
            -
            {{ 'settings.vpdPreview' | translate: {vpd: getNightVpd(10), humidity: settings.night?.humidity + 10 > 90 ? 90 : settings.night?.humidity + 10} }}</ion-text>
        </ion-item>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="has_co2">
      <value-edit-row
        [label]="'settings.co2' | translate"
        [display]="settings.co2.target + ' ppm'"
        [(value)]="settings.co2.target"
        [min]="limits.co2.min" [max]="limits.co2.max" [step]="100"
        (changed)="onSettingsChanged()"
      ></value-edit-row>

      <ion-item>
        <ion-label>{{ 'settings.co2SunsetOff' | translate }}</ion-label>
        <ion-checkbox [(ngModel)]="settings.co2.sunsetOff" (ionChange)="onSettingsChanged()">{{'settings.co2SunsetOff' | translate}}</ion-checkbox>
      </ion-item>
    </ng-container>

    <ng-container *ngIf="has_daycycle">
      <value-edit-row
        [label]="'settings.sunrise' | translate"
        [display]="settings.lights.sunrise + ' min'"
        [(value)]="settings.lights.sunrise"
        [min]="0" [max]="60" [step]="1"
        (changed)="onSettingsChanged()"
      ></value-edit-row>

      <value-edit-row
        [label]="'settings.sunset' | translate"
        [display]="settings.lights.sunset + ' min'"
        [(value)]="settings.lights.sunset"
        [min]="0" [max]="60" [step]="1"
        (changed)="onSettingsChanged()"
      ></value-edit-row>

      <ion-item>
        <ion-label>{{'settings.daynightLinearChange' | translate}}</ion-label>
        <ion-checkbox [(ngModel)]="settings.daynight.linearChange" (ionChange)="onSettingsChanged()">{{'settings.daynightLinearChange' | translate}}</ion-checkbox>
      </ion-item>

      <value-edit-row
        [label]="'settings.lightlimit' | translate"
        [display]="settings.lights.limit + ' %'"
        [(value)]="settings.lights.limit"
        [min]="0" [max]="100" [step]="1"
        (changed)="onSettingsChanged()"
      ></value-edit-row>
    </ng-container>

    <ion-item>
      <ion-label>{{ 'settings.lightsOnMaintenanceMode' | translate }}</ion-label>
      <ion-checkbox [(ngModel)]="settings.lights.maintenanceOn" (ionChange)="onSettingsChanged()">{{'settings.lightsOnMaintenanceMode' | translate}}</ion-checkbox>
    </ion-item>

    <ng-container *ngIf="settings.workmode !== 'off' && deviceType !== 'controller'">
      <value-edit-row
        [label]="'settings.externalfan' | translate"
        [display]="settings.externalfan + ' %'"
        [(value)]="settings.externalfan"
        [min]="0" [max]="100" [step]="1"
        (changed)="onSettingsChanged()"
      ></value-edit-row>

      <value-edit-row
        [label]="'settings.internalfan' | translate"
        [display]="settings.internalfan + ' %'"
        [(value)]="settings.internalfan"
        [min]="10" [max]="100" [step]="1"
        (changed)="onSettingsChanged()"
      ></value-edit-row>
    </ng-container>

    <ng-container *ngIf="has_humidity">
      <value-edit-row
        [label]="'settings.maxDehumidifySeconds' | translate"
        [display]="settings.daynight.maxDehumidifySeconds > 0 ? settings.daynight.maxDehumidifySeconds + ' s' : ('settings.forever' | translate)"
        [(value)]="settings.daynight.maxDehumidifySeconds"
        [min]="cloudSettings?.betaFeatures ? limits.maxDehumidifySeconds.betaMin : limits.maxDehumidifySeconds.min"
        [max]="cloudSettings?.betaFeatures ? limits.maxDehumidifySeconds.betaMax : limits.maxDehumidifySeconds.max"
        [step]="10"
        (changed)="onSettingsChanged()"
      ></value-edit-row>

      <value-edit-row
        [label]="'settings.targetHumidityDiff' | translate"
        [display]="(settings.daynight.targetHumidityDiff > 0 ? '+' : '') + settings.daynight.targetHumidityDiff + ' %'"
        [(value)]="settings.daynight.targetHumidityDiff"
        [min]="-10" [max]="10" [step]="1"
        (changed)="onSettingsChanged()"
      ></value-edit-row>

      <ion-item>
        <ion-label>{{'settings.useLongHumidityAvg' | translate}}</ion-label>
        <ion-checkbox [(ngModel)]="settings.daynight.useLongHumidityAvg" (ionChange)="onSettingsChanged()">{{'settings.useLongHumidityAvg' | translate}}</ion-checkbox>
      </ion-item>
    </ng-container>

    <ng-container *ngIf="settings.workmode !== 'off'">
      <value-edit-row
        [label]="'settings.minimalDehumidifierOffTime' | translate"
        [display]="settings.daynight.minimalDehumidifierOffTime + ' s'"
        [(value)]="settings.daynight.minimalDehumidifierOffTime"
        [min]="cloudSettings?.betaFeatures ? limits.minimalDehumidifierOffTime.betaMin : limits.minimalDehumidifierOffTime.min"
        [max]="cloudSettings?.betaFeatures ? limits.minimalDehumidifierOffTime.betaMax : limits.minimalDehumidifierOffTime.max"
        [step]="10"
        helpKey="settings.minimalDehumidifierOffTimeHint"
        (changed)="onSettingsChanged()"
      ></value-edit-row>
      <ion-item *ngIf="cloudSettings?.betaFeatures && settings.daynight.minimalDehumidifierOffTime < limits.minimalDehumidifierOffTime.min" color="warning">
        <ion-icon name="warning-outline" slot="start"></ion-icon>
        <ion-label class="ion-text-wrap">{{'settings.minimalDehumidifierOffTimeWarning' | translate}}</ion-label>
      </ion-item>
    </ng-container>

    <!-- The controller heats with a cabinet heater switched by a smart socket,
         so it is controlled by hysteresis rather than a duty cycle. The other
         devices drive their heater directly and do not expose these. -->
    <ng-container *ngIf="settings.workmode !== 'off' && deviceType === 'controller'">
      <value-edit-row
        [label]="'settings.heaterHysteresis' | translate"
        [display]="settings.heater.hysteresis + ' °C'"
        [(value)]="settings.heater.hysteresis"
        [min]="limits.heaterHysteresis.min" [max]="limits.heaterHysteresis.max" [step]="0.1"
        helpKey="settings.heaterHysteresisHint"
        (changed)="onSettingsChanged()"
      ></value-edit-row>

      <value-edit-row
        [label]="'settings.heaterMinOnTime' | translate"
        [display]="settings.heater.minOnTime + ' s'"
        [(value)]="settings.heater.minOnTime"
        [min]="limits.heaterMinOnTime.min" [max]="limits.heaterMinOnTime.max" [step]="10"
        helpKey="settings.heaterDwellHint"
        (changed)="onSettingsChanged()"
      ></value-edit-row>

      <value-edit-row
        [label]="'settings.heaterMinOffTime' | translate"
        [display]="settings.heater.minOffTime + ' s'"
        [(value)]="settings.heater.minOffTime"
        [min]="limits.heaterMinOffTime.min" [max]="limits.heaterMinOffTime.max" [step]="10"
        (changed)="onSettingsChanged()"
      ></value-edit-row>

      <ng-container *ngIf="has_humidity">
        <value-edit-row
          [label]="'settings.heaterDehumidifyLimit' | translate"
          [display]="'-' + settings.heater.dehumidifyLimit + ' °C'"
          [(value)]="settings.heater.dehumidifyLimit"
          [min]="limits.heaterDehumidifyLimit.min" [max]="limits.heaterDehumidifyLimit.max" [step]="0.5"
          helpKey="settings.heaterDehumidifyLimitHint"
          (changed)="onSettingsChanged()"
        ></value-edit-row>

        <ion-item>
          <ion-label class="ion-text-wrap">{{ 'settings.heaterDehumidifyAssist' | translate }}</ion-label>
          <ion-checkbox [(ngModel)]="settings.heater.dehumidifyAssist" (ionChange)="onSettingsChanged()">{{'settings.heaterDehumidifyAssist' | translate}}</ion-checkbox>
        </ion-item>

        <!-- Only meaningful while assisting is enabled: it shifts the assist
             band above the point where the fridge stops dehumidifying. -->
        <value-edit-row
          *ngIf="settings.heater.dehumidifyAssist"
          [label]="'settings.heaterAssistLead' | translate"
          [display]="settings.heater.assistLead + ' °C'"
          [(value)]="settings.heater.assistLead"
          [min]="limits.heaterAssistLead.min" [max]="limits.heaterAssistLead.max" [step]="0.1"
          helpKey="settings.heaterAssistLeadHint"
          (changed)="onSettingsChanged()"
        ></value-edit-row>
      </ng-container>
    </ng-container>

  </ion-card-content>
</ion-card>
